* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html,body {
    width: 100%;
    font-family: "Roboto", sans-serif;
    
  }
  
header {
    display: flex;
    justify-content: space-between;
    padding: 1em 20em;
    width: 100%;
    position: absolute;
  }

nav {
    display: flex;
    gap: 2em;
  }

.header_logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
  }

nav a, .hero_secondary_text {
    font-size: 18px;
    color: #e5e7eb;
  }

section {
  padding: 0 20em ;
}

.hero {
    display: flex;
    height: 75vh;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
  }

.content_left {
  width: 38%;
}

.content_img {
    width: 600px;
    height: 280px;
    background-color: #6d747e;
  }

.content_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero_main_text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
  }

.hero_main_text, .hero_secondary_text {
    margin-bottom: 12px;
  }

button {
    padding: 8px 24px;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
}

.sign_up_hero_btn button {
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sign_up_hero_btn button:hover {
  background-color: #285db1;
}

.information {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.information_header {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 1.5em;
}

.information_img {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.img_text_wrapper {
  width: 200px;
}

.img_text_wrapper p {
  text-align: center;
}

.img_col {
  height: 200px;
  width: 200px;
  border: 3px solid #3882f6;
  border-radius: 15px;
  overflow: hidden;
}

.img_col img {
  height: 100%;
  width: 100%;  
  object-fit: cover;
}

.quote {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
}

.quote_wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.quote_text  {
  font-size: 36px;
  font-style: italic;
}

.quote_creator {
  align-self: end;
  font-size: 26px;
  font-weight: 900;
  margin-right: 2em;
}

.sign_up {
  height: 60vh;
  display: flex;
  align-items: center;
}

.sign_up_content_wrapper {
  height: 23vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #3882f6;
  border-radius: 10px;
}

.sign_up_content_text {
  color: #f9faf8;
}

.sign_up_content_text h3 {
  font-size: 30px;
}

.sign_up_content_text p {
  font-size: 18px;
}

.button_sign_up button {
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #f9faf8;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button_sign_up button:hover {
  background-color: #285db1;
  scale: 0.98;
}

footer {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
}

.copyright {
  font-size: 18px;
  color: #f9faf8;
}